html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content-main {
    padding: 20px;
}

.ms-welcome {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}

#status {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.success {
    background-color: #dff6dd;
    color: #107c10;
}

.error {
    background-color: #fde7e9;
    color: #a80000;
}
